<h1>Los Angeles Agencies</h1>

<script>
console.log("Hi Dan")
$( "#logo" ).click(function() {
  alert( "Handler for .click() called." );
});
</script>

<% @agencies.each do |a| %>
 <strong> <%= a.name %></strong><br>
  <%= a.reviews.average(:rating).round %> stars

    <br>HQ:<p> <%= a.headquarters %></p>
  <p> <a href="/agencies/<%=a.id %>"> <img src="/logos/<%= a.logo %>" alt="logo"/></a></p>
  <a href="/agencies/<%=a.id %>" class="btn btn-primary btn-small active" role="button">+ Review</a>
  <br><br>



<% end %>
