<h1><%= @agency.name %></h1>


<img src="/logos/<%= @agency.logo%>" alt="vitamin logo" />

<% @agency.reviews.each do |r| %>
  <p><%= r.rating %>   stars</p>
  <p><%= r.title %></p>
  <p><%= r.body %></p>
  <br><br>


<% end %>
