<h1><%= @agency.name %></h1>


<img src="/logos/<%= @agency.logo%>" alt="logo" />
<%= form_for @review do |r| %>
Rating: <%= r.text_field :rating %><br><br>
Title: <%= r.text_field :title %><br><br>
Body: <%= r.text_area :body %><br><br>
Agency: <%= r.number_field :agency_id, value: params[:id] %>

User: <%= r.number_field :user_id, value: current_user.id   %><br><br>
<%#f.hidden_field :agency, :string => @agency%>

  <%= r.submit %>
  <% end %>



<% @agency.reviews.each do |r| %>
  <p><%= r.rating %>   stars</p>
  <p><%= r.title %></p>
  <p><%= r.body %></p>
  <br><br>


<% end %>
